<% layout('member_layout') -%>

<!-- 這頁有辦法不重複 review-5 的 code嗎？ 可以直接引入嗎？ -->
<!-- Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 border-top mt-2 py-5">
            <div class="row shadow-sm p-3">
                <div class="col-1"></div>
                <div class="col-5 ">
                    <img src="/images/as-a-pro-novelist.jpg" alt="">
                </div>
                <div class="col-4">
                    <p>
                        我長久以來最重視的事情是，「自己因為某種特別的力量，而被賦予寫小說的機會」這坦然的認識。<br>
                        我總算抓住這個機會，並蒙受不少幸運，才能像這樣當上小說家。無論如何，以結果來說，我不知道是誰賦予我這樣的「資格」。<br>
                        對此我唯有衷心感謝，而且對自己被賦予的資格—就像守護受傷的鴿子般—珍惜守護，現在還能像這樣繼續寫小說，我感到非常高興，以後的事以後再說。
                    </p>
                </div>
                <div class="col-2" style="margin-top:41%">
                    <button type="button" class="btn btn-warning btn-block text-white">更多紀錄</button>
                    <button type="button" class="btn btn-primary btn-block">綜合評論</button>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<!-- 這段會要從 review-4 傳過來，但文字的格式與排版上要怎麼傳送？目前還不知道做法 -->
<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-8 mt-3">
            <h2>如何追求理想的生活？聽聽連續創業家「村上春樹」怎麼說</h2>
            <h3 class="mt-3" style="color: #FF008F">1. 興趣，不僅是試出來的，還是堅持出來的</h3>
            <p class="mt-3" style="padding-right: 160px">前面說到，做自己想做的工作，把它變成生活的一部份，對很多人來說是奢望，我想這是因為，很多人很少向內探求，到底我的興趣是什麼？
                <br><br>
                如何才能找到「興趣」呢？答案其實很無腦，用試的！
                <br><br>
                村上春樹雖說沒上過一天班，但其實為了結婚開店，他在唱片行跟咖啡店打過工，透過嘗試，他發現自己不想每天花時間搭電車，把生命浪費在一次又一次的會議與上司的辱罵中。
                <br><br>
                他在閱讀中累積能量，直到 29 歲有了寫小說這個念頭，一開始他也不確定自己到底行不行，畢竟小說家聽起來就是個浪漫但是會餓死的職業！
                <br><br>
                他抱著試試看的心態，每天從關店寫到開店，堅持到了最後，才有最終得獎版本，據他說，他第一版《聽風的話》難看無比，早已不知丟去哪裡。
                <br><br>
                現實生活中的他，因為有貸款要還，有家要養，得獎後他依然是業餘小說家，直到第三部小說的寫作期間，他才決定破釜沈舟，關店成為職業作家，接著由於小說持續熱銷，他才有「做自己想做的事，以方向來說沒有錯。」的想法！
                <br><br>
                看到這裡或許你想問，他苦行僧般的生活，幾乎比一般上班族還苦了，這不是本末倒置了嗎！
                <br><br>
                我覺得，村上春樹好不容易找到自己想過的生活，所以他願意把寫作當成一個長期經營的志業，在書中也反覆提到，他覺得有靈感才寫，過著日夜顛倒的生活，不是他想要的，所以他早睡早起，遠離社交紛擾，將生活簡化成只剩下寫稿與運動，定型成最適合寫作的樣子。
                <br><br>
                村上春樹透過如工廠般，緩慢但堅毅地刻出一部部名作，了解後你就會發現，他能找到喜歡做的事，還能養活自己，作品如此暢銷，不是比較幸運，而是因為他下足了功夫！</p>
            <br><br>
            <h3 style="color: #FF008F">2. 為了過喜歡的生活，你要做更多不喜歡的事</h3>
            <p class="mt-3" style="padding-right: 160px">
                村上春樹連續兩次創業，不僅縮衣節食貸款度日，還要半工半寫，深夜伏案創作，不惜踏出舒適圈與體制抗戰，過著比上班族還規律辛苦的生活，也要堅持自己的道路。
                <br><br>
                許多創業者草創時期都是這麼辛苦的，像是 Airbnb 的兩位創辦人，一開始也是所有信用卡都刷爆，最後狗急跳牆兼賣歐巴馬麥片，從中賺到一筆錢，也吸引到創投的關注。
                <br><br>
                而你為了理想生活，願意付出什麼？
                <br><br>
                等待你的可能是經濟上的不穩定，可能是過年圍爐時親友的壓力，更可能是深夜的自我糾結，如果這一切困擾著你，讓你仍一腳懸在空中，腳都麻了，還是不知道該不該踏出下一步，書中時而敦厚，時而尖銳，彷彿有位智慧型長者在你耳邊呢喃的文字，肯定能堅定你的想法。
                <br><br>
            </p>
            <h3 style="color: #FF008F">3. 專研你的興趣，走出你的風格</h3>
            <p class="mt-3" style="padding-right: 160px">
                當然，要把興趣當飯吃也不是容易的事。
                <br><br>
                村上春樹 29 歲才寫出第一本小說，在此之前並未寫過任何作品，以小說家來說算是出道比較晚了，
                <br><br>
                沒受過寫作訓練的他，從英文寫作中找到屬於自己的筆法，這種橫空出世的寫法，跳脫純文學框架自成一格，讓他的作品超越世代，被眾人接納。
                <br><br>
                雖然得到新人獎後，不被文學前輩們看好，但屬於新世代的文字，終究被新世代接納！
                <br><br>
                這樣的例子層出不窮，常聽到有人批評 Facebook 上的圖文部落客，用筆隨便撇幾下，也能受到眾人的歡迎，而且找他們合作要這麼貴，真是世風日下，大家藝術水平變低了！
                <br><br>
                但就像村上在書中提到，關於世代的比較，他認為世代沒有高下之分，現代年輕人或許寫字的能力變低，但打字的能力卻增強。
                <br><br>
                每個世代每個族群都有自己擅長的部分，往歷史看去，唐詩、宋詞、元曲，乃至於古文與白話文的迭代更動，都是專注建立於過往的基底，專注於自己的長處而生成的風格，延伸到個人興趣的能力發展也是。
                <br><br>
                或許你在你的興趣中並非排行前幾名的行家，但只要運用你個人特色，一定可以找到屬於自己的市場，可以養活自己，當然這也是生鮮時書這種努力的方向！
                <br><br>
            </p>
        </div>
    </div>
</div>