<% layout('title_layout') -%>
<% stylesheet('/stylesheets/review-4.css') -%>

<section class="p-3 contianer">
    <div class="row h-80">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="mt-5 mb-3 text-center" style="font-size:1.5rem">還有其他想說的嗎？</div>            <form>
                <div class="form-group">
                    <textarea id="textarea" class="form-control col-11 ml-3" id="exampleFormControlTextarea1" rows="20"
                        placeholder="將自己的情緒、想法記錄下來..."></textarea>
                </div>
            </form>
            <button type="button" class="btn btn-primary mt-3 mr-3" style="float:right">分享></button>
        </div>
        <div class="col-4"></div>
    </div>

</section>