<% layout('title_layout') -%>
<% stylesheet('/stylesheets/review-2.css') -%>
<!-- stylesheet也應該寫成一份可以引入的形式 -->


<!-- icons -->
<!-- 一個一個icon應該要用相同大小的div包著，以維持等距離 -->
<div class="container text-center feeling">
    <h4 style="color: #444242"><b>這本書帶給你什麼感受呢？</b></h4>
    <div class="mt-5 pointer">
        <div id="inspire" class="user-icon-container align-middle icon-width icon-color">
            <span><i class="far fa-lightbulb fa-3x"></i></span>
            <span class="user-text mt-2 ">鼓舞人心</span>
        </div>
        <div id="warm" class="user-icon-container align-middle icon-width icon-color">
            <span><i class="far fa-heart fa-3x "></i></span>
            <span class="user-text mt-2">溫暖柔和</span>
        </div>
        <div id="fun" class="user-icon-container align-middle icon-width icon-color">
            <span><i class="far fa-smile fa-3x "></i></span>
            <span class="user-text mt-2 ">有趣好笑</span>
        </div>
        <br>
        <br>
        <br>
        <div id="knowledge" class="user-icon-container align-middle icon-width icon-color">
            <span><i class="fas fa-pencil-alt fa-3x "></i></span>
            <span class="user-text mt-2 ">知識淵博</span>
        </div>
        <div id="peace" class="user-icon-container align-middle icon-width icon-color">
            <span><i class="fas fa-coffee fa-3x "></i></span>
            <span class="user-text mt-2 ">寧靜致遠</span>
        </div>
        <div id="bored" class="user-icon-container align-middle icon-width icon-color">
            <span><i class="far fa-meh fa-3x "></i></span>
            <span class="user-text mt-2 ">有點無聊</span>
        </div>
    </div>
</div>