<% layout('title_layout') -%>
<% stylesheet('/stylesheets/review-1.css') -%>
<section class="p-3 contianer">
    <div class="row h-80 mt-5">
        <div class="col-4"></div>
        <div class="col-4">
            <p class="h4 mb-3">你想和朋友分享什麼書呢?</p>
            <!-- <h4 class="text-center ml-auto">你想和朋友分享什麼書呢?</h4> -->
            <div class="input-group mb-3" style="width:80%">
                <input type="text" class="form-control" placeholder="請輸入書名 ..." aria-label="Recipient's username"
                    aria-describedby="button-addon2">
                <label class="btn btn-outline-secondary">
                    照片上傳 <input type="file" hidden>
                </label>
                <!-- <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-secondary" type="file" id="button-addon2">照片上傳</button>
                </div> -->
            </div>

            <div class="h-50 border border-secondary" style="width:80%"></div>
            <button type="button" class="btn btn-primary mt-3" style="margin-left:65%;">下一步</button>
        </div>
        <div class="col-4"></div>
    </div>
</section>