<% layout('member_layout') -%>
<!-- Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 border-top mt-2 py-5">
            <div class="row shadow-sm p-3">
                <div class="col-1"></div>
                <div class="col-5">
                    <img src="/images/as-a-pro-novelist.jpg" alt="">
                </div>
                <div class="col-4">
                    <p>
                        我長久以來最重視的事情是，「自己因為某種特別的力量，而被賦予寫小說的機會」這坦然的認識。<br>
                        我總算抓住這個機會，並蒙受不少幸運，才能像這樣當上小說家。無論如何，以結果來說，我不知道是誰賦予我這樣的「資格」。<br>
                        對此我唯有衷心感謝，而且對自己被賦予的資格—就像守護受傷的鴿子般—珍惜守護，現在還能像這樣繼續寫小說，我感到非常高興，以後的事以後再說。
                    </p>
                </div>
                <div class="col-2" style="margin-top:41%">
                    <button type="button" class="btn btn-warning btn-block text-white">更多紀錄</button>
                    <button type="button" class="btn btn-primary btn-block">綜合評論</button>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>

